@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border-color: #cdcdcd;
  --selected-color: #fafafa;
  --text-gray: #888;
  --main-gray: #d9dcdf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border-color: var(--border-color);
  --color-selected-color: var(--selected-color);
  --color-text-gray: var(--text-gray);
  --color-main-gray: var(--main-gray);
}

@layer utilities {
  /* 스크롤바 숨기기 */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
